.inline_a69947a2 {
  top: 0;
}

.inline_6240dd63 {
  transition-duration: 5s;
  transform: translate3d(-2980px, 0, 0);
}

.inline_19fae44a {
  display: block;
}

.inline_3a12e6bd {
  background: url("../images/css_asset_f115e97d6e.png") 0 0 / contain no-repeat;
}

.inline_705d339f {
  background: url("../images/css_asset_cc612c3b2f.png") 0 0 / contain no-repeat;
}

.inline_224b51a7 {
  display: none;
}

